
.606_11 { 
	overflow:hidden;
}
.e606_11 { 
	width:1767px;
	height:2971px;
	position:absolute;
}
.e606_12 { 
	width:1767px;
	height:2971px;
	position:absolute;
	left:0px;
	top:0px;
}
.e606_13 { 
	background-color:rgba(255, 255, 255, 1);
	width:1767px;
	height:2971px;
	position:absolute;
	left:0px;
	top:0px;
}
.e606_14 { 
	color:rgba(0, 0, 0, 1);
	width:761px;
	height:129px;
	position:absolute;
	left:84px;
	top:61px;
	font-family:Inter;
	text-align:left;
	font-size:100px;
	letter-spacing:0;
}
.e606_15 { 
	background-color:rgba(181.6764137148857, 181.6764137148857, 181.6764137148857, 1);
	width:1674px;
	height:232px;
	position:absolute;
	left:46px;
	top:2696px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e606_16 { 
	width:133px;
	height:133px;
	position:absolute;
	left:1532px;
	top:2745px;
}
.e606_17 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:133px;
	height:133px;
	position:absolute;
	left:0px;
	top:0px;
}
.e606_18 { 
	transform: rotate(-90.00000250447869deg);
	width:99.33950805664062px;
	height:0px;
	position:absolute;
	left:66.5px;
	top:116.03294372558594px;
}
.606_18 { 
	border:10px solid rgba(181.6764137148857, 181.6764137148857, 181.6764137148857, 1);
}
.e606_19 { 
	background-color:rgba(181.6764137148857, 181.6764137148857, 181.6764137148857, 1);
	width:34px;
	height:34px;
	position:absolute;
	left:1652px;
	top:105.5px;
}
.e606_20 { 
	width:34px;
	height:34px;
	position:absolute;
	left:1652px;
	top:154.5px;
}
.e606_21 { 
	background-color:rgba(181.6764137148857, 181.6764137148857, 181.6764137148857, 1);
	width:34px;
	height:34px;
	position:absolute;
	left:0px;
	top:0px;
}
.e606_22 { 
	background-color:rgba(181.6764137148857, 181.6764137148857, 181.6764137148857, 1);
	width:34px;
	height:34px;
	position:absolute;
	left:1652px;
	top:56px;
}
.e606_23 { 
	width:149px;
	height:136px;
	position:absolute;
	left:25px;
	top:918px;
	background-image:url(images/htmljndiynhysaj8_qbtwmv3fbhaj1aivufabg2z05w3fksuhgfukknyh6puv9eqiia_5dnofqh0qzin5ewaba_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e606_24 { 
	background-color:rgba(181.6764137148857, 181.6764137148857, 181.6764137148857, 1);
	width:1080px;
	height:201px;
	position:absolute;
	left:641px;
	top:622px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e606_25 { 
	background-color:rgba(221.24999821186066, 221.24999821186066, 221.24999821186066, 1);
	width:1080px;
	height:1635px;
	position:absolute;
	left:206px;
	top:918px;
	border-radius:60px;
}
.606_26 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e606_26 { 
	width:1658px;
	height:0px;
	position:absolute;
	left:63px;
	top:229px;
}
.e606_27 { 
	color:rgba(0, 0, 0, 1);
	width:253px;
	height:82px;
	position:absolute;
	left:492px;
	top:744px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e606_28 { 
	color:rgba(0, 0, 0, 1);
	width:253px;
	height:82px;
	position:absolute;
	left:1304px;
	top:2475px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
